{{define "Index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Store</title>
</head>

<body>
    <h1>Alura Store</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>T-shirt</td>
                <td>Beatiful</td>
                <td>29</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Notebook</td>
                <td>Very fast</td>
                <td>1999</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
{{end}}